<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
</head>
<body>
    <form action="/account/register" method="post">
        <h1>Register</h1>
        <div>

            <label for="username">Username</label>
            <input type="email" name="username" id="username" placeholder="Email@email.com">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <br>
            <label for="uname">Name</label>
            <input type="text" name="uname" id="uname">
            <br>
            <label for="date_of_joining">Date of Joining</label>
            <input type="date" name="date_of_joining" id="date_of_joining">
            <br>
            <label for="nationality">Nationality</label>
            <input type="text" name="nationality" id="nationality">
            <br>
            <label for="date_of_birth">Date of Birth</label>
            <input type="date" name="date_of_birth" id="date_of_birth">
            <br>
            <label for="passport_number">Passport number</label>
            <input type="text" name="passport_number" id="passport_number">
            <br>
            <br>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>