<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register User</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <style>
      *,
      *:before,
      *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #e3e2df;
      }
      .background {
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }
      .background .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
      }

      div {
        margin-top: 170px;
        margin-bottom: 1200px;
        height: 1000px;
        width: 600px;
        background-color: #e3afbc;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 50px 35px;
      }
      form * {
        font-family: "Poppins", sans-serif;
        color: 0;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
      }
      form h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
      }

      label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
      }

      button:hover {
        background-color: black;
        color: white;
      }
      input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: white;
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
      }
      ::placeholder {
        color: 0;
      }
      button {
        margin-top: 33px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
      }

      .rbtn {
        position: relative;
        display: block;
        text-align: center;
        justify-content: center;
      }
      a.rbtn {
        padding-top: 33px;
        color: black;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
      }
    </style>
  </head>

  <body>
    <% if (message) { %>
    <script type="text/javascript">
      alert("<%=message%>");
    </script>
    <% } %>
    <div class="main">
      <form action="/account/register" method="post">
        <h3>REGISTER</h3>

        <label for="username">Username</label>
        <input
          type="email"
          name="username"
          id="username"
          placeholder="Email@email.com"
          required
        />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />

        <label for="uname">Name</label>
        <input type="text" name="uname" id="uname" required />

        <label for="date_of_joining">Date of Joining</label>
        <input
          type="date"
          name="date_of_joining"
          id="date_of_joining"
          required
        />

        <label for="nationality">Nationality</label>
        <input type="text" name="nationality" id="nationality" required />

        <label for="date_of_birth">Date of Birth</label>
        <input
          type="date"
          name="date_of_birth"
          id="date_of_birth"
          max=""
          required
        />

        <label for="passport_number">Passport number</label>
        <input
          type="text"
          name="passport_number"
          id="passport_number"
          required
        />

        <button type="submit">Register</button>
      </form>
    </div>

    <script>
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var yyyy = today.getFullYear() - 18;
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }

      today = yyyy + "-" + mm + "-" + dd;
      document.getElementById("date_of_birth").setAttribute("max", today);
    </script>
  </body>
</html>
